/*
.body{
	margin:0px;
}
 {
	border:2px solid grey;
}*/

.wrapper {
	width:100%;
	
	margin: auto;

	position:fixed;
	/*border:2px dashed green;*/
	top:0px;
	bottom:0px;
	height:auto;


}
.header li{
	display:inline;
	position:relative;
	float:right;
	

}
#containertop{
	position: relative;
	height:30px;

}

#menu a {
	text-decoration: none;
	font-family: arial;
	text-align: center;
	display: block;
	float:right;
	right: 20px;
	padding:0px;
	margin: 10px;


}

#menu {

	position:absolute;
	width:200px;
	right:0px;
}
/* Below is the middle */

#middle{	

	/*border:1px solid yellow;*/
	position:relative;
	margin:0 auto;
	width: 500px;
}


#logo{

	width:400px;
	/*border:2px dashed red;*/
	padding:20px;
	position: relative;

}
#searchbox{
	width:100%;
	margin:0px auto;
}
.btn{
	margin:5px;

}
#search_form{
	text-align: center;
}

/* This is the fotter areas */
#footer_area {
		background-color: #f2f2f2;
		list-style: none;
		width:100%;
		height: 40px;
		/*border:1px solid red;*/
		position:absolute;
		bottom:0px;
		border-top: 1px solid #e4e4e4;

}
#footer_area ul {
	list-style-type: none;
	margin:0;
	padding:0;


	}		
#footer_area ul li {
	float:left;
	}		

#footer_area ul a{
	text-decoration:none;
	display: block;
	padding:10px 16px;
	text-align: center;
	font-family:Arial;
	font-size: 14px; 
	}
